dn: ou=People,dc={{ domain }},dc={{ tld }}
objectClass: organizationalUnit
ou: People

dn: ou=Groups,dc={{ domain }},dc={{ tld }}
objectClass: organizationalUnit
ou: Groups

dn: cn=users,ou=Groups,dc={{ domain }},dc={{ tld }}
objectClass: posixGroup
cn: users
gidNumber: 5000

dn: uid={{ uid }},ou=People,dc={{ domain }},dc={{ tld }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: {{uid}}
sn: {{surname}}
givenName: {[firstname]}
cn: {{firstname + ' ' + surname}} 
displayName: {{firstname + ' ' + surname}}
uidNumber: 10000
gidNumber: 5000
userPassword: {CRYPT}x
gecos: {{firstname + ' ' + surname}}
loginShell: /bin/bash
homeDirectory: /home/{{ uid }}